* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: #28a95b;
  font-size: 1.2em;
}

.header {
  display: flex;
  align-items: center;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 75px;
  padding: 20px;
  position: fixed;
  top: 0;
  background-color: #1d8346;
  color: white;
}

.logo {
  display: flex;
  gap: 10px;
  margin-left: 100px;
  align-items: center;
}
.logo .logo-img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: black;
}
.nav-list {
  display: flex;
  gap: 15px;
  margin-right: 100px;
  list-style-type: none;
}
.nav-list .list {
  display: flex;
  color: white;
  text-decoration: none;
}
.nav-list .list:hover {
  background-color: brown;
  color: white;
}

.main {
  display: grid;
  justify-content: center;
  width: 100%;
  background-color: rgba(253, 251, 251, 0.445);
}

div.date-time {
  display: flex;
  gap: 3px;
  margin-top: 100px;
}
.akindev {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  padding-top: 80px;
}
.profile {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin: auto;
}
.profile .profile-info {
  margin: auto;
}
.stack {
  text-align: center;
  color: brown;
}
/* .photo-container {
  display: flex;
  justify-content: center;
  border: 2px solid rgb(252, 238, 238);
  border-radius: 15px;
  align-items: center;
  background-color: rgba(157, 160, 160, 0.1);
} */
.photo {
  border-radius: 50px;
}

#about {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  padding-top: 100px;
  margin-top: 10px;
  /* font-size: 1.2em; */
}
#about .about-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.break {
  margin-top: 5px;
  margin-bottom: 10px;
}

#skills-section .skills {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}
.skills-heading {
  text-align: center;
  padding-top: 100px;
  margin-top: 20px;
}

.skill {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 5px;
  border: 2px solid grey;
  background-color: burlywood;
}
#contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  height: 100vh;
}
#contact-section h1 {
  margin-bottom: 50px;
}
.form {
  display: grid;
}
.form label {
  margin: 5px;
}
.form input {
  padding: 10px;
}
.form textarea {
  margin-top: 10px;
  padding: 10px;
  margin-bottom: 10px;
}
.form .submit-btn {
  width: 150px;
  height: 30px;
  width: 30%;
  border: none;
  border-radius: 5px;
  background-color: blue;
  color: white;
  padding: 10px;
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: rgb(218, 143, 53);
  width: 100%;
  color: aliceblue;
}
.footer {
  display: flex;
  gap: 10px;
}
@media screen and (min-width: 270px), (max-width: 680px) {
  /* body {
    display: flex;
    flex: 1;
    width: 100%;
    justify-content: center;
  } */
}
