* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
}

header {
  /* background-color: rgb(94, 218, 176); */
  width: 100%;
}
.nav {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 75px;
  position: fixed;
  top: 0;
  background-color: darkslategray;
  color: white;
}

.logo {
  display: grid;
  /* gap: 5px; */
  align-items: center;
}
.logo .logo-img {
  margin: 0 auto;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  background-color: black;
}
.dev-title {
  font-size: 0.7em;
  margin: 0 auto;
}
.nav-list {
  display: flex;
  width: fit-content;
  gap: 5px;
  list-style-type: none;
  color: black;
  text-align: center;
}
.nav-list .list {
  display: flex;
  text-decoration: none;
  color: rgb(218, 143, 53);
}
.nav-list .list:hover {
  background-color: brown;
  color: white;
}

.main {
  display: grid;
  justify-content: center;
  width: 100%;
  background-color: rgb(182, 250, 227);
  font-size: 0.8em;
  text-align: center;
}

div.date-time {
  display: flex;
  justify-content: center;
  gap: 3px;
  margin-top: 80px;
}
#home {
  height: calc(100vh - 75px);
}
.akindev {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  line-height: 40px;
  font-weight: 600;
}
.profile-info {
  display: none;
}
.profile-info-sm {
  padding: 20px;
}
.hello {
  font-size: 2em;
}
.name {
  font-size: 1.5em;
  margin-bottom: 10px;
}
.email {
  font-size: 1.4em;
}
section #about {
  font-size: 1.3em;
  width: 100%;
  padding: 0 10px;
}
section #about .about-tag {
  padding-top: 100px;
  margin-bottom: 30px;
}
section #about .about-info {
  width: calc(100% - 20px);
}

.break {
  margin: 10px 0;
}
.about-img {
  display: none;
}
.skill-img {
  padding-top: 50px;
}
#skills-section {
  margin: 50px;
  font-size: 1.3em;
}
.skills-heading {
  margin-bottom: 20px;
}

#contact-section {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  height: calc(100vh - 75px);
}
#contact-section .contact-container {
  padding-top: 80px;
}
#contact-section .contact-container h1 {
  margin: 50px;
}
.form {
  display: grid;
}
.form label {
  margin: 5px;
}
.form input {
  padding: 10px;
}
.form textarea {
  margin-top: 10px;
  padding: 10px;
  margin-bottom: 10px;
}
.form .submit-btn {
  width: 150px;
  height: 30px;
  width: 30%;
  border: none;
  border-radius: 5px;
  background-color: blue;
  color: white;
  padding: 10px;
}
footer {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 7px;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: rgb(218, 143, 53);
  width: 100%;
  color: aliceblue;
  font-size: 0.7em;
  line-height: 1.5em;
}
.footer {
  display: flex;
  gap: 10px;
}

/*



.akindev {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

/* .photo-container {
  display: flex;
  justify-content: center;
  border: 2px solid rgb(252, 238, 238);
  border-radius: 15px;
  align-items: center;
  background-color: rgba(157, 160, 160, 0.1);
} */
/* 

#contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  height: 100vh;
}
#contact-section h1 {
  margin-bottom: 50px;
}
.form {
  display: grid;
}
.form label {
  margin: 5px;
}
.form input {
  padding: 10px;
}
.form textarea {
  margin-top: 10px;
  padding: 10px;
  margin-bottom: 10px;
}
.form .submit-btn {
  width: 150px;
  height: 30px;
  width: 30%;
  border: none;
  border-radius: 5px;
  background-color: blue;
  color: white;
  padding: 10px;
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: rgb(218, 143, 53);
  width: 100%;
  color: aliceblue;
}
.footer {
  display: flex;
  gap: 10px;
} */

@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 75px;
    padding: 20px;
    position: fixed;
    top: 0;
    background-color: #1d8346;
    color: white;
  }

  .logo {
    display: flex;
    gap: 10px;
    margin-left: 100px;
    align-items: center;
  }
  .logo .logo-img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: black;
  }
  .nav-list {
    display: flex;
    gap: 15px;
    padding-right: 150px;
    list-style-type: none;
  }
  .nav-list .list {
    display: flex;
    color: white;
    text-decoration: none;
  }
  .nav-list .list:hover {
    background-color: brown;
    color: white;
  }
  #home {
    align-self: center;
  }
  #about {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    padding-top: 100px;
    margin-top: 10px;
  }
  #about .about-tag h1 {
    margin-top: 100px;
  }
  #about .about-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .break {
    margin-top: 5px;
    margin-bottom: 10px;
  }

  #skills-section .skills {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
  }
  .skills-heading {
    text-align: center;
    padding-top: 100px;
    margin-top: 20px;
  }

  .skill {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    border: 2px solid grey;
    background-color: burlywood;
  }

  @media screen and (min-width: 1000px) {
  }
  div.date-time {
    display: flex;
    gap: 3px;
    margin-top: 100px;
  }

  .akindev {
    padding-top: 100px;
  }

  .profile {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: auto;
    padding-top: 50px;
  }
  .profile .profile-info-sm {
    align-self: center;
  }
  .stack {
    text-align: center;
    color: brown;
  }
  #skills-section .skills {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
  }
  .skills-heading {
    text-align: center;
    padding-top: 100px;
    margin-top: 20px;
  }
  .skill {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    border: 2px solid grey;
    background-color: burlywood;
  }
}
